.sidebarBlur {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  visibility: hidden;
}

.sidebarWrapper.activeMenu .sidebarBlur {
  visibility: visible;
}

.sidebarWrapper * {
  box-sizing: border-box;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;

  height: max-content;
  width: 300px;
  background: #fff;

  transform: translateX(-100%);

  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
}

.sidebarWrapper.activeMenu .sidebar {
  transform: translateX(0%);
}

.header {
  background: var(--dark-bg-color);
  padding: 10px;
}

.close {
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 40px;
  background: var(--pink-bg-color);
}

.auth {
  margin-top: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 15px;
}

.authIconWrapper {
  background: var(--dark-active-bg-color);
  border-radius: 50%;

  padding: 10px;

  display: flex;
  align-items: center;
}

.login {
  display: flex;
  flex-basis: content;
  cursor: pointer;
}

.authText {
  margin: 5px 0 0 0;

  color: #969696;
  font-size: 12px;
}

.signIn, .signUp {
  color: #fff;
}

.signIn {
  padding-right: 15px;
  border-right: 1px solid #fff;
}

.signUp {
  padding-left: 15px;
}