.sidebarBlur {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  visibility: hidden;
}

.sidebarWrapper.activeMenu .sidebarBlur {
  visibility: visible;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;

  height: max-content;
  width: 300px;
  background: #fff;

  transform: translateX(-100%);

  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
}

.sidebarWrapper.activeMenu .sidebar {
  transform: translateX(0%);
}
