.category {
  padding: 5px 0;

  font-size: 14px;
}

.icon {
  height: 30px;
  width: 30px;

  border: 0;
}

@media screen and (max-width: 1024px) {
  .icon {
    height: 40px;
    width: 40px;
  }
  .category {
    font-size: 16px;
    line-height: 17px;
  }
}
