.homePage {
  display: grid;
  grid-template-columns: 300px 2fr;
}

.productCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  justify-content: center;
}

.categoriesBar {
  border-right: 1px solid #00000030;
  padding-left: 40px;
}

.categoriesList {
  padding-top: 30px;
}

@media screen and (max-width: 1024px) {
  .categoriesBar {
    display: none;
  }
  .homePage {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .productCards {
    grid-template-columns: 50% 50%;
  }
}
