.categoriesBar {
  border-right: 1px solid var(--line-color);
  padding-left: 35px;

  min-height: 100vh;

  position: sticky;
  bottom: 0;
  align-self: flex-end;
}

.categoriesList {
  margin: 0;
  padding: 30px 10px;
}

.categoriesNav {
  border-top: 1px solid var(--line-color);
}
.categoriesNavElement {
  display: block;

  font-size: 14px;

  padding: 5px 0px 5px 10px;
  border-bottom: 1px solid var(--line-color);
}

@media screen and (max-width: 1024px) {
  .categoriesList {
    width: 100%;
    border: 1px solid var(--line-color);
    border-right: 0;

    padding: 15px 0;

    display: grid;
    grid-template-columns: repeat(3, 33.33%);
  }
  .categoriesNav {
    display: none;
  }
  .categoriesBar {
    padding: 0;

    min-height: 0;
  }
  .categoryWrapper {
    display: flex;
    justify-content: left;
    
    padding: 5px 0;

    width: 100%;
    border-right: 1px solid var(--line-color);
  }
  .category {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .categoriesBar {
    display: none;
  }
}
