.AP {
  box-sizing: border-box;

  padding: 15px;

  display: grid;
  grid-template-columns: 2fr 9fr 1fr;
  grid-template-rows: min-content;
  gap: 10px;
}

.adminNav {
  height: min-content;

  position: sticky;
  top: 15px;
  left: 0;
}

.APElement {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;

  background: #fff;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contentElement {
  width: 472px;
  height: 472px;

  position: relative;
}
.doubleContentElement {
  width: 948px;
  height: 472px;

  position: relative;
}

.navButton {
  box-sizing: border-box;
  width: 216px;
  height: 40px;
  border: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  background: #fff;
  padding: 8px 14px;
  border-radius: 5px;
  color: #000;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  transition: all 200ms;

  cursor: pointer;

  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  position: relative;
}

.navButton.active {
  background: #2f81ed20;
  color: #2f80ed;
}

.input {
  width: 336px;
  height: 40px;

  box-sizing: border-box;
  padding-left: 10px;

  border: solid #8e8e933b 1px;

  outline: none;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputClear {
  width: 44px;
  height: 40px;

  border: solid #8e8e933b 1px;
  border-left: 0;
  background: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.select {
  /*resets*/
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";

  width: 40px;
  height: 40px;
  outline: 0;

  z-index: 3;

  border: #8e8e937d solid 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  cursor: pointer;
}

.selectOption {
  font-size: 20px;
}

.selectContainer {
  position: relative;
}

.selectIcon {
  position: absolute;

  left: 7px;
  top: 6px;

  pointer-events: none;
}
