.formWrapper {
  display: flex;
  gap: 30px;
}

.fileUpload {
  height: 270px;
}

.createBtn {
  position: absolute;

  bottom: 10px;
  right: 95px;
}

.statusCodeContainer {
  position: absolute;
  right: 230px;
  bottom: 20px;

  text-align: left;

  width: 270px;
  height: 20px;
  overflow: hidden;
}
