.productPageContainer {
  margin: auto;
  margin-top: 143px;
  max-width: 1437px;
}

.navLink {
  color: var(--pink-bg-color);
  font-size: 20px;
  margin-right: 10px;

  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}
.productPageNav {
  display: flex;
}

.subcategoriesNavLinkContainer {
  display: flex;
  align-items: center;
}

.subcategoriesNavLink {
  font-size: 20px;
  color: #474747;

  margin-left: 10px;
  margin-right: 10px;

  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.subcategoriesNavLink:hover {
  color: #474747a9
}
.navLink:hover {
  opacity: .75;
}

@media screen and (max-width: 768px) {
  .productPageContainer {
    margin-top: 0;
  }
}