.layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.suspenseWrapper {
  height: 90vh;
}

hr {
  margin: 2px 0;
  opacity: 0.3;
}

a[class] {
  text-decoration: none;
}

ul[class] {
  list-style: none;
}