@font-face {
  font-family: geologica;
  src: url("../../public/Geologica-Regular.ttf");
}

/* ############ */

* {
  font-family: geologica;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}

:root {
  --dark-bg-color: #2c2c2c;
  --violet-bg-color: #8c52ff;
  --pink-bg-color: #ff66c4;
  --pink-active-bg-color: #ff7ccd;
  --dark-active-bg-color: #4c4c4c;
}

#root {
  height: 100%;
  width: 100%;
}
