@font-face {
  font-family: geologica;
  src: url("../../public/Geologica-Regular.ttf");
}

/* ############ */

* {
  font-family: geologica;
}

body, html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: min-content;

  background: #ffffff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

:root {
  --dark-bg-color: #2c2c2c;
  --violet-bg-color: #8c52ff;
  --pink-bg-color: #FF00B8;
  --pink-active-bg-color: #ff3fb5;
  --dark-active-bg-color: #4c4c4c;
  --red-bg-color: #fc004c;
  --blue-bg-color: #3367f7;
  --line-color: #e5e5e5;
}

#root {
  height: 100%;
  width: 100%;
}
