@font-face {
  font-family: georgical;
  src: url("../../public/Geologica-Regular.ttf");
}

/* ############ */

* {
  font-family: georgical;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-bg-color: #2c2c2c;
  --violet-bg-color: #8c52ff;
  --pink-bg-color: #ff66c4;
  --pink-active-bg-color: #ff7ccd;
  --dark-active-bg-color: #4c4c4c;
}

