.header {
  position: fixed;

  background: var(--dark-bg-color);
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.layout {
  width: 80%;
  height: 70px;
  max-width: 1600px;

  margin: auto;
  
  display: flex;
  align-items: center;
  gap: 16px;
}

.header * {
  transition: all 200ms;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
}

.menuBtnLine {
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 50%;

  margin: 3px;

  display: block;
}

.logo {
  height: 40px;
  background: #8c52ff;
}

.headerLabel {
  color: #fff;
}

.catalogueBtn {
  width: 100px;
  height: 40px;
  background: var(--dark-active-bg-color);
  border-radius: 10px;

  padding: 5px 17px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

  cursor: pointer;
}

.catalogueBtn:hover {
  background: #707070;
}

.searchBar {
  width: 100%;
  height: 30px;
  border: 0;
  padding-left: 5px;
  border: 0;

  outline: 0;
  outline-offset: 0;
}

.searchBarContainer {
  width: 100%;
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  padding: 5px 10px;

  display: flex;
  align-items: center;
}

.searchBtn {
  height: 45px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--pink-bg-color);
  color: #fff;
  font-size: 15px;

  padding: 5px 10px;
}

.searchBtn:hover {
  background: var(--pink-active-bg-color);
}

.searchForm {
  display: flex;
  flex-grow: 1;
}

.microphoneIcon {
  color: var(--dark-active-bg-color);

  cursor: pointer;
}

.microphoneIcon:hover {
  color: var(--violet-bg-color);
}

.activeMicrophoneIcon {
  width: 23px;
  height: 23px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  width: 4px;
  height: 4px;
  background: var(--violet-bg-color);
  border-radius: 30%;

  display: block;
}

.dot1 {
  animation: speech 0.5s 1.3s infinite alternate;
}
.dot2 {
  animation: speech 0.5s infinite alternate;
}
.dot3 {
  animation: speech 0.5s 0.3s infinite alternate;
}

@keyframes speech {
  0% {
    height: 4px;
  }
  100% {
    height: 10px;
  }
}

.lngSelect {
  list-style: none;
  padding: 0 20px 0 13px;
}

.lngSelect li {
  cursor: pointer;

  display: flex;
}

.lngSelect .lngName {
  padding-left: 5px;
}

.lngName {
  color: #fff
}

.lngSelect .selected .lngName {
  color: var(--violet-bg-color);
}

.lngIcon {
  display: flex;
  align-items: center;

  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 240px;
  }
}

@media screen and (max-width: 768px) {
  .loginBtn {
    display: none;
  }
  .lngSelect {
    display: none;
  }
  .lngIcon {
    display: none;
  }
  .catalogueBtn {
    display: none;
  }
  .searchBtn {
    display: none;
  }
  .layout {
    margin: 0;
    padding: 0 9%;
    gap: 10px;
  }
  .searchBarContainer {
    border-radius: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    display: none;
  }
}