.productCard {
  position: relative;

  box-sizing: border-box;
  border-bottom: 1px solid #0000003f;
  border-right: 1px solid #0000003f;

  width: 170px;
  height: 330px;

  padding: 10px;
}

.productCard .picture img {
  display: block;

  margin: auto;
}
.productCard .picture {
  height: 200px;
  width: 140px;

  display: flex;
  align-items: center;

  margin: auto;
}

.liked {
  position: absolute;

  top: 5px;
  right: 5px;

  cursor: pointer;
}

.title {
  margin: 20px 5px;

  height: 40px;
  width: 100%;

  overflow: hidden;

  color: var(--dark-bg-color);
  font-size: 14px;
  line-height: 19px;

  cursor: pointer;
}

.title:hover {
  color: var(--red-bg-color);
  text-decoration: underline;
}

.sale {
  position: absolute;
  bottom: 5px;
  left: 10px;

  color: var(--red-bg-color);
}
.withoutSale {
  color: var(--dark-bg-color);
}
.priceNumber {
  font-size: 22px;
  margin-right: 5px;
}

.price {
  position: absolute;
  bottom: 30px;

  color: #00000060;
  font-size: 15px;
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  .productCard {
    width: 100%;
  }
  .price {
    left: 15px;
  }
  .sale {
    left: 15px;
  }
  .title {
    width: 90%;
  }
}
